.main-btn {
  background-color: #eae9e9;
  border: none;
  border-radius: 10px;
  padding: 8px 18px;
  font-weight: bold;
}

.main-btn:active {
  background-color: rgb(71, 219, 103);
}

.btn {
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 24px;
  height: 30px;
  width: 30px;
}

.button-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  gap: 10px;
  margin-left: 5px;
}

.button-container button {
  flex-shrink: 0;
}

.button-container::-webkit-scrollbar {
  display: none;
}

