.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    position: sticky;
    bottom: 0;
    /* left: 0; */
    width: 100%;
    height: auto;
    background-color: #101212;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1000;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-btn {
    padding: 10px;
    background-color: #101212;
    color: #DFE0E0;
    border: none;
    font-size: 15px;
}